.git
.gitignore
.gitattributes
**/bin/
**/obj/
**/out/
**/publish/
RaccoonBlog.IntegrationTests/
*.log
logs/
.vscode/
.idea/
*.suo
*.user
*.DotSettings
cleanup.ps1
cleanup.cmd
normalize-crlf.ps1
docker-compose.yml
docker-compose.*
scripts/
packages/
.DS_Store
Thumbs.db