<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Loki" />
  </extensions>

  <targets>
    <target
        name="loki"
        xsi:type="loki"
        batchSize="200"
        taskDelayMilliseconds="500"
        endpoint="${environment:LOKI_ENDPOINT}"
        username="${environment:LOKI_USERNAME}"
        password="${environment:LOKI_PASSWORD}"
        orderWrites="true"
        compressionLevel="noCompression"
        layout="${message} ${exception:format=tostring}">
      <label name="app" layout="raccoonblog" />
      <label name="Level" layout="${level}" />
      <label name="Source" layout="${logger}" />
      <label name="Host" layout="${machinename}" />
      <label name="Environment" layout="${environment:ASPNETCORE_ENVIRONMENT}" />
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.AspNetCore.StaticFiles.StaticFileMiddleware" maxlevel="Info" final="true" />
    <logger name="Microsoft.AspNetCore.Mvc*" maxlevel="Info" final="true" />
    <logger name="Microsoft.AspNetCore.OutputCaching.OutputCacheMiddleware" maxlevel="Info" final="true" />
    <logger name="Microsoft.AspNetCore.Routing.EndpointMiddleware" maxlevel="Info" final="true" />
    <logger name="Microsoft.AspNetCore.HttpLogging.HttpLoggingMiddleware" maxlevel="Info" final="true" />

    <logger name="*" minlevel="Info" writeTo="loki">
      <filters defaultAction="Log">
        <when condition="contains('${message}', 'Request starting')" action="IgnoreFinal" />
      </filters>
    </logger>
  </rules>
</nlog>